 body{overflow-x: hidden}
        #tamano-2{
            width: 300px;
            height: 350px;
        }
        #tamano{
            width: 400px;
            height: 250px;
        }
        .body-blue{
            color: #000080;
        }
        h3{
            color: #000080;
        }
#color{
    color: #000080; 
}
        .typewrite{
            color: #000080;
        }
        #padding{
            padding-left: 20px;
        }
        body{
            padding-top: 40px;
        }
            
        #textwrite {
              text-align: center;
              color: #000080;
              padding-top:100px;
              padding-bottom: 100px;
              border-color: black;
        }
        
        .typewrite:hover {
              color: #000080;
            text-decoration: none;
        }
        
        .justify {
            text-align: justify !important;
        }
            
        .parallax { 
            /* The image used */
            background-image: url("../Images/salon-de-clases.jpg");

            /* Set a specific height */
            height: 725px; 

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
         }
        body, html, .main {
            height: 100%;
         }

        section {
            min-height: 100%;
        }
        .differento-3{
               color: #008000;
         }
           .different-3{
               color: #008000;
               font-size: 25px;
               display: inline-block;
           }
           .bold{
               font-weight: bold;
               display: inline-block;
           }
           .differento-2{
               color: #ff3333;
           }
           .differento{
               color: orange;
           }
           .color-2{
               color: #000080;
               font-weight: bold;
            
               
           }
           .different-2{
               color: #ff3333;
               font-size: 25px;
               display: inline-block;
           }
           .different{
               color: orange;
               font-size: 25px;
               display: inline-block;
           }
           .color{
               color: #000070;
           }
           .thick{ç
               font-weight: bold;
               color: #000050;
           }
           #padding{
               padding-top: 30px;
           }
.bold-block{
    font-weight: bold;
    display: inline-block;
    color: #000080;
    font-size: 25px;
}
.different-4{
    display: inline-block;
    font-size: 25px;
    color: #804000;
}
.differento-4{
    color: #804000;
}
.italic{
    font-style: italic;
}
 .bold-2{
     font-weight: bold;
     display: inline-block;
     font-size: 25px;
}
.different-5{
   display: inline-block;
    font-size: 25px;
    color: #5900b3; 
}
.different-6{
     display: inline-block;
    font-size: 25px;
    color:#00cccc; 
}
.different-7{
    display: inline-block;
    font-size: 25px;
    color: #b32400;
}
.different-8{
    display: inline-block;
    font-size: 25px;
    color: #cccc00;
}
.different-9{
    display: inline-block;
    font-size: 25px;
    color: #008060;
}
.different-10{
     display: inline-block;
    font-size: 25px;
    color: #009999;
}
.different-11{
     display: inline-block;
    font-size: 25px;
    color: #660066; 
}
.different-12{
    display: inline-block;
    font-size: 25px;
    color: #47476b;
}
.different-13{
    display: inline-block;
    font-size: 25px;
    color: #4d4d33;
}
.different-14{
      display: inline-block;
    font-size: 25px;
    color: #660000;
}
.different-15{
     display: inline-block;
    font-size: 25px;
    color: #004080;
}
.tamano{
    font-size: 60px;
}
#imagen{
    height: 300px;
    width: 550px;
}


.new {
    color: orange;
    display: inline-block;
}
.b-1{
    border: 2px solid;
    color: #000070;
}


#grade {
    font-size: 25px;
}

#grade-2 {
    font-size: 25px;
}

.padding-left {
    padding-left: 50px;
}

.img {
  width: 420px;
    height: 350px;
}

.space {
    padding-left: 50px;
}

.white {
    color: white;
}

.new-2 {
    color: #ff3333;
    display: inline-block;
}

.new-3 {
    display: inline-block;
    color: #00b33c;
}
